@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Anton);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


header, section, aside {
	display: block; /* makes semantic elements act like DIVs */
}

nav, footer {
	display: none;
}


body { 
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: rgb(51,51,51);
}

h1 { 
	font-family: 'Anton', Arial, serif; 
	font-size: 90px;
	color: white;
	padding-left: 15px;
}

h2 {
font-family: 'Permanent Marker', Arial, serif; 
	font-size: 20px;
	color: black;
	padding-left: 15px;
}


p {
	font-size: 13px;
	line-height: 18px;
	color: rgb(51,51,51);
}

#wrapper {
	width: 1000px;
	margin: 0 auto 0 auto; /* TRouBLe */
	margin: 0 auto; /* TuBuLaR - Top/Btm, Left/Right */
	background-color: white;
}


header { 
	height: 175px;
	}


section {
	width: 610px;
	height: 1000px;
	float: left;
	margin: 10px auto 10px 10px;
	padding: 10px;
	background-color: white;
	
}

section img { 
	border: 1px solid gray;
}

.wide {
	width: 950px;
	height: 1000px;
	float: left;
	margin: 10px auto 10px 10px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}

.wide p {
	margin: 0 100px 0 40px;
}

.wide h2, .wide h3, .wide h4, .wide h5 {
	margin-left: 40px;
}

.thumbnail1 {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid black;
	margin-bottom: 10px;
}

.thumbnail2 {
	width: 150px;
	height: 150px;
	float: right;
	border: 1px solid black;
	margin-bottom: 10px;

}
	
	