@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Anton);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


header, nav, section, aside, footer {
	display: block; /* makes semantic elements act like DIVs */
}

body { 
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	background: rgb(253,245,230) url("images/goldanddiamonds.gif");
	/*Background created by Natsuki-Lynn, http://www.k10k.net/pixelpatterns/930/ */
}

h1, h2 {
	margin: 0;
	padding: 0;
	color: rgb(51,51,51);
	}

h1 { 
	font-family: "Anton", Impact, "cooper black", "cooper std", Arial, sans-serif; 
	font-size: 90px;
	color: white;
	padding-left: 15px;
	
}

h2 {
font-family: 'Permanent Marker', Arial, sans-serif; 
	font-size: 20px;
	color: black;
	padding-left: 15px;
}

h3, h4 {
	color: rgb(51,51,51);
	font-family: "Trebuchet MS";

}

h5 {
	font-size: 10px;
	color: gray;
	margin: 0;
}


p {
	font-size: 13px;
	line-height: 18px;
	color: rgb(51,51,51);
}

li {
	font-size: 12px;
	color: rgb(51,51,51);
}

#wrapper {
	width: 1000px;
	margin: 0 auto 0 auto; /* TRouBLe */
	margin: 0 auto; /* TuBuLaR - Top/Btm, Left/Right */
	background-color: rgb(255,0,102);
	border-left: 2px solid rgb(51,51,51);
	border-right: 2px solid rgb(51,51,51);

}

header { 
	height: 175px;
	}


nav {
	height: 20px;
	background-color: rgb(51,51,51);
	color: white;
	padding: 15px;
}


nav ul, nav li {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 14px;
	/*color: yellow;*/
	list-style-type: none;
}
	

nav li a:link, nav li a:visited {
	display: block; /* from inline */
	text-decoration: none;
	padding: 6px 20px;
	float: left;
	position: relative;
	color: white;
	border: 1px dotted rgb(51,51,51);
}

nav li a:hover {
	border: 1px dotted gray;
}

nav li a:active {
	color: black;
	background: rgb(253,245,230);
}

nav .current {
	color: yellow;
	/*font-size: large;*/
	padding: 6px 20px;
	float: left;
	position: relative;

}


section {
	width: 610px;
	height: 1000px;
	float: left;
	margin: 10px auto 10px 10px;
	padding: 10px;
	
	background: #fcfff4; /* old browsers */

	border: 1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

section img { 
	border: 1px solid gray;
}

aside {
	height: 1000px;
	width: 315px;
	float: right;
	/*background: white;*/
	
	background: #fcfff4; /* old browsers */

	background: -moz-linear-gradient(left, #fcfff4 0%, #e9e9ce 100%); /* firefox */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* ie */

	margin: 10px 10px 10px auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;

}

aside h3 {
	font-size: 12px;
	padding-bottom: 15px;
	border-bottom: 1px dotted gray;
}

.wide {
	width: 950px;
	height: 1000px;
	float: left;
	margin: 10px auto 10px 10px;
	padding: 10px;
	background-color: white;
	background: -moz-linear-gradient(top, #d6dbbf 0%, #feffe8 3%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6dbbf), color-stop(28%,#feffe8)); /* webkit */
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.wide p {
	margin: 0 175px 0 70px;
}

.wide h2, .wide h3, .wide h4, .wide h5 {
	margin-left: 40px;
}

.thumbnail1 {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid black;
	margin-bottom: 10px;
}
	
.thumbnail1 img {
	width: 150px;
	height: 150px;
}

.thumbnail2 {
	width: 150px;
	height: 150px;
	float: right;
	border: 1px solid black;
	margin-bottom: 10px;
}

.thumbnail2 img {
	width: 150px;
	height: 150px;
}



footer {
	height: 50px;
	background-color: rgb(204,204,204);
	margin: 10px 10px 0 10px;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	clear: both; /* clear both columns above footer: section and aside */
}
	
	